@inherits ContentsComponentBase

<h1>@Title</h1>

<div>@Top</div>
<hr/>
<div>@Bottom</div>

@functions {
   [Parameter]
   public string Title { get; set; }

   [Parameter]
   public RenderFragment Top {get;set;}

   [Parameter]
   public RenderFragment Bottom {get;set;}
}
